<a href="https://colab.research.google.com/github/rtaglega53/pedropicapiedra/blob/master/CPA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Adding all the possible necessary libraries

In [57]:
# librerias para manejo de datos y graficas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import files
import time
import warnings
# librerias para clustering
from sklearn import cluster, datasets, mixture, metrics
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_samples, silhouette_score
# librerias para busqueda de hiperparametros
from sklearn import metrics, preprocessing, tree
from sklearn.metrics import f1_score, make_scorer
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier as dt
from sklearn.model_selection import KFold
# librerias para PCA
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn import svm, metrics
warnings.filterwarnings("ignore")

Adding the file

In [166]:
# no se necesita cargar todo el tiempo
uploaded = files.upload()
df = pd.read_csv('customer_allocation_complete.csv')
df.head()

Saving customer_allocation_complete.csv to customer_allocation_complete (1).csv

       Unnamed: 0  ...                             Unnamed: 74
0             NaN  ...                                     NaN
1             NaN  ...  Baseline Qty (Exponential smoothing 3)
2  MaterialNumber  ...                                     NaN
3      7981020031  ...                                     449
4  600044-641-005  ...                                      49

[5 rows x 75 columns]

In [18]:
df_base = df.copy()
df = df_base.copy()

Clean the data and save months and cycles in a separated variables

In [168]:
# utilizamos metodo copy para poder jugar con los valors sin tener que cargar el archivo
months = df.iloc[0]
cycles = df.iloc[1]
df_copy = df.drop(columns=['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']).copy()
df_copy = df_copy.drop(index=[2])
columns_names = df_copy.columns
df_copy.columns = df_copy.iloc[1]
df_copy = df_copy.drop(columns=['DLY'])
df_copy.columns.name = None
months = df_copy.iloc[0]
cycles = df_copy.iloc[1]
df_copy = df_copy.drop(index=[1])
df_copy.head()

                Metrics  ... Baseline Qty (Exponential smoothing 3)
0                 Month  ...                                    NaN
3  VERIZON WIRELINE-USA  ...                                    449
4       CENTURYLINK-USA  ...                                     49
5       CENTURYLINK-USA  ...                                    208
6            ORANGE-FRA  ...                                      0

[5 rows x 66 columns]

data set is transposed for the analysis

In [169]:
df_copy = df_copy.transpose()

df_copy.head()


#df_copy.describe(include=np.object)

          0                     3     ...          6734                6735
Metrics  Month  VERIZON WIRELINE-USA  ...  SP-CABLE-IND  TRANSPORTATION-BRA
FC-6       P02                   336  ...             0                   5
FC-5       NaN                     0  ...             0                   0
FC-4       NaN                     0  ...             0                   0
FC-3       NaN                     0  ...             0                   0

[5 rows x 6734 columns]

In [171]:
df_copy.columns = df_copy.iloc[0]
# df_copy = df_copy.drop()
df_copy.head()

Metrics  Month  VERIZON WIRELINE-USA  ...  SP-CABLE-IND  TRANSPORTATION-BRA
Metrics  Month  VERIZON WIRELINE-USA  ...  SP-CABLE-IND  TRANSPORTATION-BRA
FC-6       P02                   336  ...             0                   5
FC-5       NaN                     0  ...             0                   0
FC-4       NaN                     0  ...             0                   0
FC-3       NaN                     0  ...             0                   0

[5 rows x 6734 columns]

Declare month of the quarter

In [82]:
months_range = ['CM', '+1M', '+2M', '+3M']
month_base = 0
if len(months_range) == 4:
    month_base = 0
elif len(months_range) == 5:
  month_base = 1
elif len(months_range) == 6:
  month_base = 2
# print(len(months_range), month_base)
df_copy.shape
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6734 entries, 0 to 6735
Data columns (total 66 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Metrics                                 6734 non-null   object
 1   FC-6                                    6734 non-null   object
 2   FC-5                                    6733 non-null   object
 3   FC-4                                    6733 non-null   object
 4   FC-3                                    6733 non-null   object
 5   FC-2                                    6733 non-null   object
 6   FC-1                                    6733 non-null   object
 7   FC-6                                    6734 non-null   object
 8   FC-5                                    6733 non-null   object
 9   FC-4                                    6733 non-null   object
 10  FC-3                                    6733 non-null   object
 11  FC-2                                    6733 non-null   object
 12  FC-1                                    6733 non-null   object
 13  FC-6                                    6734 non-null   object
 14  FC-5                                    6733 non-null   object
 15  FC-4                                    6733 non-null   object
 16  FC-3                                    6733 non-null   object
 17  FC-2                                    6733 non-null   object
 18  FC-1                                    6733 non-null   object
 19  FC-6                                    6734 non-null   object
 20  FC-5                                    6733 non-null   object
 21  FC-4                                    6733 non-null   object
 22  FC-3                                    6733 non-null   object
 23  FC-2                                    6733 non-null   object
 24  FC-1                                    6733 non-null   object
 25  FC-6                                    6734 non-null   object
 26  FC-5                                    6733 non-null   object
 27  FC-4                                    6733 non-null   object
 28  FC-3                                    6733 non-null   object
 29  FC-2                                    6733 non-null   object
 30  FC-1                                    6733 non-null   object
 31  Score                                   2033 non-null   object
 32  Cluster_id                              4259 non-null   object
 33  Score                                   2159 non-null   object
 34  Cluster_id                              3941 non-null   object
 35  Score                                   2305 non-null   object
 36  Cluster_id                              3377 non-null   object
 37  Score                                   1855 non-null   object
 38  Cluster_id                              2712 non-null   object
 39  Score                                   2147 non-null   object
 40  Cluster_id                              3032 non-null   object
 41  Baseline Qty (score based)              6734 non-null   object
 42  Baseline Qty (weighted average)         6733 non-null   object
 43  Baseline Qty (Exponential smoothing 1)  6733 non-null   object
 44  Baseline Qty (Exponential smoothing 2)  6733 non-null   object
 45  Baseline Qty (Exponential smoothing 3)  6733 non-null   object
 46  Baseline Qty (score based)              6734 non-null   object
 47  Baseline Qty (weighted average)         6733 non-null   object
 48  Baseline Qty (Exponential smoothing 1)  6733 non-null   object
 49  Baseline Qty (Exponential smoothing 2)  6733 non-null   object
 50  Baseline Qty (Exponential smoothing 3)  6733 non-null   object
 51  Baseline Qty (score based)              6734 non-null   object
 52  Baseline Qty (weighted average)         6733 non-null   object
 53  Baseline Qty (Exponential smoothing 1)  6733 non-null   object
 54  Baseline Qty (Exponential smoothing 2)  6733 non-null   object
 55  Baseline Qty (Exponential smoothing 3)  6733 non-null   object
 56  Baseline Qty (score based)              6734 non-null   object
 57  Baseline Qty (weighted average)         6733 non-null   object
 58  Baseline Qty (Exponential smoothing 1)  6733 non-null   object
 59  Baseline Qty (Exponential smoothing 2)  6733 non-null   object
 60  Baseline Qty (Exponential smoothing 3)  6733 non-null   object
 61  Baseline Qty (score based)              6734 non-null   object
 62  Baseline Qty (weighted average)         6733 non-null   object
 63  Baseline Qty (Exponential smoothing 1)  6733 non-null   object
 64  Baseline Qty (Exponential smoothing 2)  6733 non-null   object
 65  Baseline Qty (Exponential smoothing 3)  6733 non-null   object
dtypes: object(66)
memory usage: 3.4+ MB